/* 네비게이션 바의 하이퍼링크에서 언더라인 제거 */
nav a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

/* 네비게이션 바 하이퍼링크에 마우스를 올릴 때 색상 변경 */
nav a:hover {
  color: blue;
}

/* 회원가입 및 로그인 폼 스타일 */
.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.form-container input,
.form-container select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: left;
  box-sizing: border-box;
}

.form-container button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}

#message,
#loginMessage {
  text-align: center;
  color: red;
  margin-top: 10px;
}

#userInfo {
  float: right;
  margin-right: 10px;
}
