<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springjwt.mapper.JoinMapper">
	<select id="existsByUsername" parameterType="String" resultType="boolean">
	    SELECT CASE WHEN COUNT(1) > 0 THEN TRUE ELSE FALSE END
	      FROM EPL_USER
	     WHERE USERNAME = #{username}
	</select>
        
    <insert id="insertUser" parameterType="com.example.springjwt.model.JoinDTO">
	    INSERT INTO EPL_USER (USERNAME, PASSWORD, ROLE)
	    VALUES (#{username}, #{password}, #{role})
    </insert>
    
</mapper>